/* Color Theme Swatches in Hex */
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria-1-hex { color: #D9415D; }
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria-2-hex { color: #395D73; }
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria-3-hex { color: #6BA7BF; }
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria-4-hex { color: #8C3D2B; }
.Travelers-couple-look-at-the-mountain-lake.-Travel-and-active-life-concept-with-team.-Adventure-and-travel-in-the-mountains-region-in-the-Austria-5-hex { color: #F2F2F2; }


html {
    background:#81A69B; 
 color: #072026; }



